.header-section{
  display: flex;
  justify-content: space-between;
  padding: 2em 0;
  border-bottom: 2px solid var(--scdark);
}
#progress_bar{
  position: fixed;
  top: 0px;
  height: 5px;
  background: var(--sclight);
  left: 0px;
  border-radius: 0px 25px 25px 0px;
}
.header-right , .header-left{
  display: flex; 
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.contact li{ 
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1em;
  opacity: 0;
  transform: translatex(-20px);
  animation: goRight forwards .8s linear;
}
.contact li:nth-child(2){ 
  animation-delay: .4s;
}
.contact li:nth-child(3){ 
  animation-delay: .8s;
}
.contact li:nth-child(4){ 
  animation-delay: 1.2s;
}
.contact li a, .contact li span{
 margin-left: 10px;
}
.logobox{
  animation: goLeft backwards 1.3s linear;
  position: relative;
}
.logobox img{
  height: auto;
}
.logobox::after{
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: #00ff5d;
  border-radius: 50%;
  transition: .5s;
  animation: scaleIn backwards .8s linear;
  animation-delay: .3s;
  bottom: 10px;
  left: 10px;
}
.logobox:hover::after{
  /* animation: heart infinite 2s linear; */
  transform: scale(1.2);
}
.header-title{
   padding: 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.header-title h3{
  font-size: 35px;
  margin: 0;
  margin-bottom: .7em;
  color: var(--sclight);
  animation: goLeft backwards .8s linear;
  animation-delay: .8s;
}
.header-title p{
  margin: 0;
  animation: goLeft backwards .8s linear;
  animation-delay: 1.2s;
}

/* main styles */
.prow{
  padding: 2em 0; 
  line-height: 3em;
  border-bottom: 2px solid var(--scdark);
  animation: goDown backwards .8s linear;
 }
.prow:nth-child(2){
   animation-delay: .1s;
 }
.prow:nth-child(3){
  animation-delay: .2s;
}
.prow:nth-child(4){
  animation-delay: .4s;
}
.prow:nth-child(5){
  animation-delay: .5s;
}
.prow:nth-child(6){
  animation-delay: .6s;
}
 .prow:last-child{
  border-bottom: none !important;
 }
 .prow a{
  color: var(--sclight);
  font-weight: bold;
 }
.main-right{
  display: flex;
  width: 30%;
}
.main-left{
  display: flex;
  width: 70%;
}
.we-box{
  display: initial;
}
.we-title{
    position: sticky;
    top: 30%;
    padding-bottom: 5em;
}
.title{
  color: var(--sclight); 
  font-size: 25px;
  font-weight: bold; 
}
.description{
  text-align: justify;
  width: 100%;
}
.description-tit{
  font-weight: bold;
  font-size: 20px;
  border-bottom: 2px solid #f8f8f8;
  padding-bottom: .3em;
  padding-left: 0.5em;
}
.custom-box{
  margin-bottom: 3em;
}
.custom-box:last-child , .custom-row:last-child{
  margin-bottom: 0;
}
.custom-row{
  margin-bottom: 1em;
}
.custom-imgbox{
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  line-height: 2.1em;
  color: #bcbcbc;
}
.custom-textbox{
  padding: 2em 0;
}
.custom-title{
  font-size: 22px;
  color: #6d9982;
  font-weight: bold;
}
.custom-desc{
  display: flex;
  align-items: center;
}
.custom-desc::before{
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--sclight);
  display: flex;
  margin-left: 5px;
  border-radius: 50%;
}
.custom-list li::before {
  content: "\2022";
  color: var(--sclight);
  font-weight: bold;
  display: inline-flex;
  width: .7em;
  align-items: center;
  padding: 0 0 0;
  position: relative;
  top: 5px;
  font-size: 20px;
}
.custom-list li.active{
    animation: goLeft backwards .8s linear;
}
.custom-list li.active:nth-child(2){
 animation-delay: .1s;
}
.custom-list li.active:nth-child(3){
 animation-delay: .2s;
}
.custom-list li.active:nth-child(4){
 animation-delay: .3s;
}
.custom-list li.active:nth-child(5){
 animation-delay: .4s;
}
.custom-list li.active:nth-child(6){
 animation-delay: .5s;
}
.custom-list li.active:nth-child(7){
  animation-delay: .6s;
 }
 .custom-list li.active:nth-child(8){
  animation-delay: .7s;
 }
 .custom-list li.active:nth-child(9){
  animation-delay: .8s;
 }
 .custom-list li.active:nth-child(10){
  animation-delay: .9s;
 }
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes goLeft {
  from {
    opacity: 0;
    transform: translatex(20px);
  }
  to {
    opacity: 1;
    transform:  translatex(0);
  }
}
@keyframes goRight {
  from {
    opacity: 0;
    transform: translatex(-20px);
  }
  to {
    opacity: 1;
    transform:  translatex(0);
  }
}
@keyframes goDown {
  from {
    opacity: 0;
    transform: translatey(-20px);
  }
  to {
    opacity: 1;
    transform:  translatey(0);
  }
}
@keyframes heart {
  0% {
    transform: scale(1);
  }
  25%{
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.1);
  }
  75%{
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}